#title {
    margin: 10px;
    font-weight: 500;
}

#subtitle {
    margin: 10px;
    font-weight: 300;
}

#subtitle2 {
    margin-top: 42px;
    margin-left: 10px;
    font-weight: 300;
}

.para {
    margin: 10px;
}

#circle-progress{
  position:absolute;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#000;
  background-image:url(https://payload181.cargocollective.com/1/4/140568/5927150/icon-site_12.gif);
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}